@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color:rgb(37, 60, 35);
    font-family: "Abril Fatface", serif;
    color: white;
}

.one{
    width:180px;
    padding: 20px 5px;
    float: left;
    border-radius: 50%;
}

.two{
    width:180px;
    padding: 10px 5px;
    float: right;
    border-radius: 50%;
}

div{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.three{
    width:300px;
    padding: 2px 5px;
    float: right;
}

.four{
    width:150px;
    padding: 2px 5px;
    float: right;
    border-radius: 50%;
}

h1{
    text-align: center;
    font-size: 80px;
    padding: 30px;
}

header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: large;
}

header li{
    padding: 20px 40px;
}

main{
    min-height: 50vh;
}


body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;

}

body {
    background-color: #f3f4f6;
    line-height: 1.6;
}






.details {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1500px;
}

.details h3 {
    margin-bottom: 30px;
    font-size: 40px;
    color: #006241;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.member {
    display: inline-block;
    margin: 20px;
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

.member h4 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.member p {
    font-size: 14px;
    color: #777;
}

.member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.member:hover img {
    transform: scale(1.05);
}



footer{
    background-color:  rgb(171, 192, 117);
    padding: 20px;
    font-weight: 200;
    font-size: 1.5rem;
}

footer h2{
    padding-left: 10px;
}
footer p{
    padding-left:20px;
    font-size: 1.5rem;
}

footer ul{
    padding: 5px 30px;   
}

footer .foot {
    background-color: rgb(37, 60, 35);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    display: block;
}

footer .social-media a:hover {
    color: #b3d234;
}

footer p  {
    margin-top: 10px;
    font-size: 1.5rem;
    padding-right: 10px; 
}
